ul

{
   list-style-type: none;
}

li {
  display : inline-block;
}

h1{
  padding-left: 130px;
  font-size: xx-large;
}

.button {
  padding-top: 250px;
}

.donut {
  width: 400px;
  height: 50px;
  position: absolute;
  top: 55%;
  left: 35%;
}
